<div class="panel super-panel old-map">
  <div class="add-padding">
    <h2 class="center green-font">Sequoia's Partners</h2>
    <hr class="wide-hr">
    <br>

    <div class="panel">
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag("pirate.png") %>
        </div>
        <div class="span8">
          <h3>
            <%= link_to "Urban Treasure Hunt", '#' %>
          </h3>
          <p>
            We've hidden "treasures" throughout the city. Sail the Seven Seas (or eight Portland bridges) and explore the great City of Roses.  As you approach buried treasure, your magic compass (smartphone) will give you hints to help you find the loot.
          </p>
        </div>
      </div>
    </div>
    <br>

    <div class="panel">
      <div class="row-fluid">
        <div class="span8">
          <h3>
            <%= link_to "SugarBurn", '#' %>
          </h3>
          <p>
            Great for parents: this app will notify you when you are within a 5-minute drive of a public playground.  Let the little tyke run around like a little devil for 10 minutes, and he'll sleep like an angel for the rest of your trip.
          </p>
        </div>
        <div class="span4">
          <%= image_tag("playground.jpg") %>
        </div>
      </div>
    </div>
    <br>

    <div class="panel">
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag("coffee_zen.jpg") %>
        </div>
        <div class="span8">
          <h3>
            <%= link_to "Coffee Time", '#' %>
          </h3>
          <p>
            Select your favorite style of coffee shop with (APP NAME HERE).  Coffee Time alerts you whenever your favorite cafes are nearby.  Find all the hidden hotspots and tucked-away coffeehouse gems.
          </p>
        </div>
      </div>
    </div>
    <br>

    <div class="panel">
      <div class="row-fluid">
        <div class="span8">
          <h3>
            <%= link_to "Letterbox Addict", '#' %>
          </h3>
          <p>
            There are hundreds of great letterboxes hidden throughout Portland.  Use this app to find them in new and unexpected locations as you travel to work, school, or the store.
          </p>
        </div>
        <div class="span4">
          <%= image_tag("letterbox.jpg") %>
        </div>
      </div>
    </div>

  </div>
</div>