<div class="panel super-panel old-map">
  <div class="container">

    <div class="row-fluid">

      <div class="span4 panel center">
        <h2 class="green-font">Lauren Xavier</h2>
        <br>
        <span class="profile-image"><%= image_tag("lauren_xavier.jpg") %></span>
        <hr class="wide-hr">
        <h4>47 Truffula Seeds</h4>
      </div>

      <div class="span1">
      </div>

      <div class="span7">
        <br>

        <div class="panel control-width">
          <h3 class="green-font">Caretaker of:</h3>
          <hr class="narrow-hr">
          <ul>
            <li><%= link_to 'SEQUOIA | 6th and Burnside', '#' %></li>
            <li><%= link_to 'ELM | 12th and Ash', '#' %></li>
          </ul>
        </div>

        <br>

        <div class="panel control-width">
          <h3 class="green-font">Trees I've Seen</h3>
          <hr class="narrow-hr">
          <ul>
            <li>
              <%= link_to 'ASH | Barnes and Miller', '#' %>
              <ul>
                <li>Fall (no photo)</li>
                <li>Summer (7th place photo)</li>
              </ul>
            </li>
            <li>
              <%= link_to 'OAK | Park Blocks', '#' %>
              <ul>
                <li>Fall (3rd place photo)</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</div>

