<div class="panel super-panel old-map">
  <div class="add-padding">
    <h2 class="center green-font">Friends of the Lorax</h2>
    <hr class="wide-hr">
    <br>
    <ul class="extra-margin-left">
      <li>
        <h4 class="ranking-name"><%= link_to "Lauren Xavier", '/profile' %></h4>
        <small>47 Truffula Seeds | Caretaker of 2 heritage trees</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Darcy Epperson", '#' %></h4>
        <small>35 Truffula Seeds | Caretaker of 1 heritage tree</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Jack Duckworth", '#' %></h4>
        <small>33 Truffula Seeds | Caretaker of 1 heritage tree</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Quentin Smyth", '#' %></h4>
        <small>27 Truffula Seeds</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Jerrell Rowell", '#' %></h4>
        <small>20 Truffula Seeds | Caretaker of 1 heritage tree</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Ozella Guillen", '#' %></h4>
        <small>17 Truffula Seeds</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Camelia Hankins", '#' %></h4>
        <small>5 Truffula Seeds</small>
      </li>
      <hr class="narrow-hr short-hr">
      <li>
        <h4 class="ranking-name"><%= link_to "Roseann Ricks", '#' %></h4>
        <small>3 Truffula Seeds</small>
      </li>
    </ul>
  </div>
</div>