<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sequoia", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "View trees", '/trees' %></li>
          <li><%= link_to "Lorax rankings", '/trees' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>